<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>zkC/ByRdV3Uqw0nkwqFPcv/JBuBZ702oiV0R/inxnFQuY2cQesyn4iui2T7I+TCo/CCupLsDYCJ2YgmgKag2dc+vHFYdm4ULVJrQ4EESUAfwUJkATn2EOnSSgspmL8uJvn/aXFvkQluz30NYqIoTTrFPrkHb2mjtqVF0PbgBm4sjiSFkjmZEGULjHu2eMUnw8fJcIpQVYs0ADIFsiGFuGjOidjPTfz86go1USOv4eFZLbIWCcLxo6OrHU/RqusuLdj6QDcprx2QIvd/YimfNIwX6jbSMT5Fut5LOAHAlMAb3ZtCPG2VuJtHDjU2cb87MqSrTKm6PvQVwSfdV3NHYgA==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>IJv02MzSllhVLv+hHhqgAq2PzOYMmUffPF4bFQX0XOd8OqQpNjXBtEsHK7NxeXta</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>