<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=Psps_20210506AfterCR;User Id=sa;Password=P@ssw0rd;" providerName="System.Data.SqlClient" />
  <!--<add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=PspsUAT;User Id=sa;Password=P@ssw0rd;" providerName="System.Data.SqlClient" />-->
</connectionStrings>