<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <!--<add name="DefaultConnection" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Psps;User Id=Psps;Password=P@ssw0rd;" providerName="System.Data.SqlClient" />-->
  <!--<add name="DefaultConnection" connectionString="Data Source=A4-DB;Initial Catalog=Psps;User Id=Psps;Password=P@ssw0rd;" providerName="System.Data.SqlClient" />-->
  <add name="DefaultConnection" connectionString="Data Source=A4-DB;Initial Catalog=PspsDataConversion3;User Id=sa;Password=P@ssw0rd;" providerName="System.Data.SqlClient" />
  <!---<add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=PspsUAT;User Id=sa;Password=P@ssw0rd;" providerName="System.Data.SqlClient" />--->

</connectionStrings>