@model Psps.Web.ViewModels.Error.ErrorViewModel
@{
    ViewBag.Title = "Access Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-block alert-danger">
    <strong>@Model.Message</strong>
    <br>
</div>