@model Psps.Web.ViewModels.Error.ErrorViewModel
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-block alert-danger">
    <strong>Sorry, an error occurred while processing your request.</strong>
    <br>
    <br>
    Detailed information about this error has automatically been recorded and we have been notified.
</div>