@{
    ViewBag.Title = "Password Policy";
    Layout = "~/Views/Shared/_Layout_Popup.cshtml";
}
<div class="col-xs-12">
    <h4 class="ogcio_pwd_guide_header">
        OGCIO IT Security Guidelines G3
        <b class="arrow icon-angle-down"></b>
    </h4>
    <ul class="ogcio_pwd_guide_contain">
        <li>
            <table class="table ogcio_pwd_guide_table" style="width:100%;">
                <thead>
                    <tr>
                        <th scope="col">Control</th>
                        <th scope="col">Settings</th>
                    </tr>
                </thead>
                <tr>
                    <td>Complexity and length</td>
                    <td>
                        <ul>
                            <li>
                                At least 8 characters with:
                                <ul>
                                    <li>Mixed-case alphabetic characters (A-Z , a-z)
                                    <li>Numerals (0-9)</li>
                                    <li>Special characters (!&#64;#$%^&*()-=)</li>
                                    <li>(Example : #1234aBC)</li>
                                </ul>
                            </li>

                            <li style="list-style:none; padding:6px 0;">Or</li>

                            <li>
                                At least 10 characters with :
                                <ul>
                                    <li>Mixed-case alphabetic characters (A-Z , a-z)
                                    <li>Numerals (0-9) <b>or</b> Special characters (!&#64;#$%^&*()-=)</li>
                                    <li>(Example : 0aBcDeFgHi, #aBcDeFgHi)</li>
                                </ul>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Password history</td>
                    <td>
                        <ul>
                            <li>8 passwords remembered</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Account lockout</td>
                    <td>
                        <ul>
                            <li>After 5 invalid logon attempts</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Password change interval</td>
                    <td>
                        <ul>
                            <li>Every 90 days</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </li>
    </ul>
</div>